<div class="wrapper d-flex align-items-center justify-content-center">
  <div
    class="d-flex flex-row align-items-center title"
    routerLink=""
    (click)="test()"
  >
    <tui-svg src="tuiIconGithubLarge"></tui-svg>
    <div class="d-flex flex-column align-items-start pl-1">
      <span class="text-l">Анна Торгашина</span>
      <span class="text-xxs">Бизнес тренер</span>
    </div>
  </div>

  <tui-tabs
    [(activeItemIndex)]="tabIndex"
    class="d-flex flex-row justify-content-end tabs"
  >
    <button tuiTab class="link" routerLink="trainings">
      {{ "Мастер-классы / Тренинги " }}
    </button>

    <button tuiTab routerLink="aboutMe">Обо мне</button>

    <button tuiTab routerLink="games">Игры-тренажеры</button>
    <button tuiTab routerLink="mentoring">Наставничество</button>
    <button tuiTab routerLink="reviews">Отзывы</button>
    <button tuiTab routerLink="contacts">Контакты</button>
  </tui-tabs>
</div>
<div>
  <div [ngSwitch]="tabIndex">
    <ng-container *ngSwitchCase="0"> </ng-container>

    <ng-container *ngSwitchCase="1"> </ng-container>

    <ng-container *ngSwitchCase="2"> </ng-container>
  </div>
</div>
<!--<ng-container [ngSwitch]="tabIndex">
  <ng-template ngSwitchCase="0">
    <home></home>
  </ng-template>

  <ng-template ngSwitchCase="1"> </ng-template>
</ng-container>-->
