<div class="wrapper d-flex align-items-center justify-content-center">
  <div
    class="d-flex flex-row align-items-center title"
    routerLink=""
    (click)="home()"
  >
    <tui-svg src="tuiIconGithubLarge"></tui-svg>
    <div class="d-flex flex-column align-items-start pl-1">
      <span class="text-l">{{ "name" | translate }}</span>
      <span class="text-xxs">Бизнес тренер</span>
    </div>
  </div>

  <tui-tabs
    *ngIf="onResize() === 'big'"
    [(activeItemIndex)]="tabIndex"
    class="d-flex flex-row justify-content-end tabs"
  >
    <button tuiTab class="link" routerLink="trainings">
      {{ "Мастер-классы / Тренинги " }}
    </button>

    <button tuiTab routerLink="aboutMe">Обо мне</button>

    <button tuiTab routerLink="games">Игры-тренажеры</button>
    <button tuiTab routerLink="mentoring">Наставничество</button>
    <button tuiTab routerLink="reviews">Отзывы</button>
    <button tuiTab routerLink="contacts">Контакты</button>
  </tui-tabs>

  <div *ngIf="onResize() === 'small'">
    <tui-hosted-dropdown
      tuiDropdownAlign="left"
      [content]="dropdown"
      [(open)]="open"
    >
      <button tuiIconButton type="button" appearance="icon">
        <!-- <span >{{'menu' | translate}}</span>-->
        <tui-svg src="tuiIconMoreVerticalLarge"></tui-svg>
      </button>
    </tui-hosted-dropdown>
    <ng-template #dropdown>
      <tui-data-list [size]="'s'">
        <button *ngFor="let item of menuLink" tuiOption (click)="onClick()">
          <span routerLink="{{ item.route }}"> {{ item.name }} </span>
        </button>
      </tui-data-list>
    </ng-template>
  </div>
</div>


