<div class="footer w-100">
  <div class="d-flex flex-row align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center">
      <span class="text-l">{{ "name" | translate }}</span>
      <span class="d-flex align-items-center">
        <img src="./assets/svg/mail.svg" alt="icon" />

        <a class="ml-1" href="mailto:pav-24@mail.ru" target="_blank">AnnaTorgahina@mail.ru</a>
      </span>

      <span>
        <a target="_blank" href="https://vk.com/id13784405">
          <img class="mr-1" src="./assets/svg/vk.svg" alt="" />
        </a>
        <a target="_blank" href="https://t.me/trener_torgashina">
          <img class="mr-1" src="./assets/svg/telegram.svg" alt="" />
        </a>
        <a> <img src="./assets/svg/whatsapp.svg" alt="" /> </a>
      </span>
    </div>
  </div>
</div>

<ul class="tui-list tui-list_triangle">
  <li class="tui-list__item">Code Review ($ 10)</li>
  <li class="tui-list__item">
  </li>
</ul>
