.trainings {
  /*max-height: 50vh;*/
  max-width: 60vw;
}
tui-avatar {
  width: 370px !important;
  height: 300px !important;
}

.flex-row-training {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  padding: 5rem;
}
.flex-row-revers-training {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
  padding: 5rem;
}

.background-color {
  background-color: #f9f1f0;
}
