<div
  class="d-flex flex-column align-items-center justify-content-center mt-3 header"
>
  <tui-avatar tuiIsland size="xxl" [avatarUrl]="avatar" [rounded]="true"></tui-avatar>
  <h1>Бизнес-тренер Анна Торгашина</h1>
  <span>{{ 'home.home' | translate }}</span>
  <span class="mt-3">Добро пожаловать на мой сайт</span>
  <span class="mt-5 text-center">
    Дипломированный психолог. Бизнес – тренер. Опыт ведения тренингов с 2005
    года. Тренер-преподаватель ICBT. Гейм мейкер. Спикер. Мотивационный спикер.
    Вдохновляю на рост и развитие</span
  >
</div>
