<div
  class="d-flex flex-column align-items-center justify-content-center mt-3 header"
>
  <tui-avatar
    tuiIsland
    size="xxl"
    [avatarUrl]="'./assets/image/Anna.jpg'"
    [rounded]="true"
  ></tui-avatar>
  <h1>Бизнес-тренер Анна Торгашина</h1>
  <span class="mt-3">Добро пожаловать на мой сайт</span>
  <span class="mt-5 text-center">
    Дипломированный психолог. Бизнес – тренер. Опыт ведения тренингов с 2005
    года. Тренер-преподаватель ICBT. Гейм мейкер. Спикер. Мотивационный спикер.
    Вдохновляю на рост и развитие</span
  >
</div>
<div class="bg-gray d-flex pt-5 justify-content-center">
  <div
    class="d-flex flex-row align-items-center justify-content-center flex-wrap trainings"
  >
    <a class="d-flex flex-column align-items-center mb-3 pointer link" href="trainings#teem">
      <tui-avatar
        class="mr-4"
        tuiIsland
        size="xxl"
        [avatarUrl]="'./assets/image/teem.png'"
        [rounded]="true"
      ></tui-avatar>
      <span class="mt-3"> Командообразование </span>
    </a>
    <a class="d-flex flex-column align-items-center mb-3 pointer link" href="trainings#strengh">
      <tui-avatar
        class="mr-4"
        tuiIsland
        size="xxl"
        [avatarUrl]="'./assets/image/strengh.jpg'"
        [rounded]="true"
      ></tui-avatar>
      <span class="mt-3"> Сила команды </span>
    </a>
    <a class="d-flex flex-column align-items-center mb-3 pointer link" href="trainings#manager">
      <tui-avatar
        class="mr-4"
        tuiIsland
        size="xxl"
        [avatarUrl]="'./assets/image/manager2.jpg'"
        [rounded]="true"
      ></tui-avatar>
      <span class="mt-3"> Прокачка управленческих компетенций </span>
    </a>
    <a class="d-flex flex-column align-items-center mb-3 pointer link" href="trainings#softSkill">
      <tui-avatar
        class="mr-4"
        tuiIsland
        size="xxl"
        [avatarUrl]="'./assets/image/softSkill.jpg'"
        [rounded]="true"
      ></tui-avatar>
      <span class="mt-3"> Soft Skills </span>
    </a>
    <div class="d-flex flex-column align-items-center mb-3 pointer" >
      <tui-avatar
        tuiIsland
        size="xxl"
        [avatarUrl]="'./assets/image/kisa.jpg'"
        [rounded]="true"
      ></tui-avatar>
      <span class="mt-3"> Котик, просто котик </span>
    </div>
  </div>
</div>
