@import "style/bootstrap.css";
:root {
  --light-blue: rgba(74, 176, 247, 0.08);
  --dark-blue: #0071bb;
  --darken-blue: #0063a4;
  --gray: #666666;
  --gray-light: #e6e6e6;
  --gray-middle: #9e9e9e;
  --white: #ffffff;
  --black: #000000;
  --dark-red: #990000;
  --red: #d50000;
  --orange: #ff9900;
  --green: #43a047;
  --grey: #cccccc;
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"),
    url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: local("OpenSansSemiBold"),
    url("fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

.color-grey {
  color: var(--grey);
}

.color-blue {
  color: var(--dark-blue);
}

.color-white {
  color: var(--white);
}

.color-dark-red {
  color: var(--dark-red);
}

.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}

.color-gray-middle {
  color: var(--gray-middle);
}

.bg-blue {
  background-color: var(--dark-blue);
}

.bg-white {
  color: var(--white);
}

.bg-gray {
  background: rgba(74, 201, 155, 0.12);
}

.text-xxs {
  font-size: 0.625rem !important; /*10*/
}

.text-xs {
  font-size: 0.75rem !important; /*12*/
}

.text-s {
  font-size: 0.875rem !important; /*14*/
}

.text-m {
  font-size: 1rem !important; /*16*/
}

.text-l {
  font-size: 1.125rem !important; /*18*/
}

.text-xl {
  font-size: 1.25rem !important; /*20*/
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: black;
}
